@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700");

:root {
    /* Declaring variables at the top level */
    --gradient-1: rgba(0, 0, 0, 0.3);
}

html {
    /* We set Raleway to the default font to cascade. */
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    /* We can reference local URLs of objects in the "public/" folder */
    background-image: linear-gradient(var(--gradient-1), var(--gradient-1)), url("/splash.jpeg");
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

img {
    /* The SVG was initially black. We invert it to white. */
    filter: invert(100%);
    transition: 250ms;
}

img:hover {
    filter: invert(50%);
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

h2 {
    font-weight: 400;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

h3 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    font-weight: bold;
    transition: 250ms;
    color: inherit; /* Links remain purple unless we make them inherit the body color. */
}

a:hover {
    color: #222;
}

hr {
    margin: 2rem 0;
}

footer {
    background-color: black;
    /* We define negative margins to eliminate the space between the footer and the edges of the viewport. */
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
}