@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

:root {
    /* Declaring variables at the top level */
    --gradient-1: rgba(0, 0, 0, 0.5);
}

html {
    /* We set Raleway to the default font to cascade. */
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body {
    /* We can reference local URLs of objects in the "public/" folder */
    background-image: linear-gradient(var(--gradient-1), var(--gradient-1)), url("/splash.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

hr {
    margin: 2rem 0;
}