.splash {
    min-height: 99vh;
}

/* The Navbar is inside the parent splash element */
.navbar {
    font-weight: bold;
    /* We need to use padding instead of margin for the top-level Navbar because there is no element above the Navbar
       for the margin to keep away from. */
    padding: 1rem;
}

.navbar_list li {
    display: inline-block;
    /* We define just the right margin here... */
    margin-right: 3rem;
    
}

.navbar_list li:nth-child(1) {
    /* ... because we want additional control over the leftmost child's margin. */
    margin-left: 1rem;
}

.navbar_list a {
    font-family: 'Montserrat', 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 250ms;
}

.navbar_list a:hover {
    color: rgba(0, 0, 0, 0.5);
}

/* Splash title card with header and subheading */
.splash_focus {
    display: flex;
    flex-direction: column; /* Successive elements will be placed underneath the previous one. */
    justify-content: center;  /* Vertical Centering */
    align-items: center; /* Horizontal Centering */
    min-height: 90vh;
    color: white;
}

/* Main splash title */
.splash h1 {
    margin-bottom: 0;
}

/* Text below the splash title */
.emphasis {
    font-style: italic;
}

/* Below the splash box is my bio section */
.bio {
    font-family: 'Montserrat', sans-serif;
    color: white;
    --gradient-2: rgba(0, 0, 0, 0.7);
    background: linear-gradient(var(--gradient-2), var(--gradient-2)), url("/bio_greyscale.jpg");
    background-size: cover;
    /* By setting a negative margin horizontally, we can make the bio element stretch slightly past the screen edges.
       We then use padding within the .bio element to move the actual content away from the element's walls. */
    margin: 0 -1em;
}

.bio_text {
    /* We use padding here because we want the invisible border to be on the edge of the splash element,
       while the main text content moves more towards the middle. */
    padding: 5vh 20vw;
}

.bio h2 {
    font-weight: 400;
    text-transform: uppercase;
}

.footer_list {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 10vw;
    list-style-type: none;
    margin: 0;
}

.footer_list li:nth-last-child(1) {
    /* The final link object in the footer list is playing up and sitting a space above the other elements.
       We fix that here by giving it a top margin. */
    margin-top: 1rem;
}

.footer_list a {
    text-transform: uppercase;
}